*.zip
*.log
roberta.large
__pycache__
.DS_Store
checkpoint/
*.pkl
*.pyc
.idea
.vscode
log/
tatdqa_doc_etr_b128_32_lr_5e04_tr5e04/
.nfs0000000000634828000009e/
dataset_tatdqa
dataset_tatqa
dataset_tatqa_ori/
dataset_tatdqa
dataset_*/
etr/model/tools/__pycache__/allennlp.cpython-39.pyc
